body {
  background: #ddd;
}

h1 {
  color: #666;
  text-shadow: 1px 1px #fff;
  text-align: center;
}

.con {
  text-align: center;
}

.img-inner {
  background: #fff;
  padding: 1em;
  display: inline-block;
}

.img-resp {
  width: 100%;
  height: auto;
  display: block;
}